In [1]:
# Import modules
import pandas as pd
import numpy as np
import scipy
from scipy import stats
import matplotlib.pyplot as plt
import matplotlib as mpl
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
final = pd.read_csv('../../data/test_clean.csv', index_col=0)
train = pd.read_csv('../../data/train_clean.csv', index_col=0)

In [3]:
final['Age'] = 2019 - final['YearBuilt']
final_cont = final[['LotArea','Age','GarageArea']]
final_categ = final[['BsmtFullBath','KitchenAbvGr','GarageType','Kitchen','Fireplace','ExterQ',
                    'BsmtQ','HeatingQ','n_toilets']] #remove n_showers

In [4]:
train['Age'] = 2019 - train['YearBuilt']
train_cont = train[['LotArea','Age','GarageArea']]

In [5]:
# boxcox and normalize dataframes with sklearn.stats
def make_boxed_normal(df):
    new_dict = {}
    logs = []
    devs = []
    means = []
    cols = df.columns
    for name in cols: 
        key = 'norm_' + name
        arr = np.array(df[name]) + 1
        arr, log_num = stats.boxcox(arr)
        upper = arr.max()
        lower = arr.min()
        
        value = (arr-np.mean(arr))/(np.std(arr))
        print (arr)
        new_dict[key] = value
        logs.append(log_num)
        devs.append(np.std(arr))
        means.append(np.mean(arr))
        
    return pd.DataFrame(new_dict), logs, devs, means

In [6]:
train_norm, logs,devs,means = make_boxed_normal(train_cont)

# train['Age'] = stats.boxcox(train['Age'])
# train['Age'] - np.mean(train['Age'])/np.std(train['Age'])

[88.88466171 93.63673908 99.88961533 ... 91.37651357 94.10054238
 94.96362037]
[3.93259214 5.90583755 4.14263436 ... 7.34224395 7.03003521 6.43179868]
[214.72436143 185.87808688 233.91277455 ... 113.11916884 108.64874634
 121.94845642]

In [7]:
train_categ = train[['BsmtFullBath','KitchenAbvGr','GarageType','Kitchen','Fireplace','ExterQ',
                    'BsmtQ','HeatingQ','n_toilets']] #remove n_showers

In [8]:
#We will pass into here the test data + log_list with lambdas from training data

def normalize_test(df, mean_arr, std_arr, log_list):
    new_dict = {}
    cols = df.columns
    i = 0
    for name in cols: 
        key = 'test_norm_' + name
        arr = np.array(df[name]) + 1 
        tempnum = log_list[i]
        print(tempnum)
        arr = stats.boxcox(arr, lmbda = tempnum)
        upper = arr.max()
        lower = arr.min()
        value = (arr-mean_arr[i])/(std_arr[i])
        print('Iter=',i)
        new_dict[key] = value
        i += 1
     
    return pd.DataFrame(new_dict)

In [9]:
final_norm = normalize_test(final_cont,means,devs,logs)

0.39726927868822215
Iter= 0
0.22006264293977928
Iter= 1
0.8207705726888868
Iter= 2

In [10]:
#FUNCTION TO LOG & TRANSFORM GrLivArea
def make_log(df):
    new_dict = {}
    cols = df.columns
    for name in cols: 
        key = 'log_' + name
        arr = np.array(df[name])
        log_arr = np.log(arr+1)
        value = (log_arr - log_arr.mean())/ log_arr.std()
        new_dict[key] = value
     
    return pd.DataFrame(new_dict)

# temp = make_log(train[['GrLivArea']])

# temp.iloc[0].isnull().sum()

In [11]:
final_norm.reset_index(drop=True, inplace=True)
final_categ.reset_index(drop=True, inplace=True)
final_combo = pd.concat([final_norm,final_categ],axis=1)

final_templog = make_log(final[['GrLivArea']])


print (final_templog)
##Transforming the GrLivArea in Final-Test Data Set with LOG:
x = final['GrLivArea'] 
mnGrLivArea = np.log(train.GrLivArea).mean()
stdGrLivArea = np.log(train.GrLivArea).std()
final_combo['LogLivArea'] = final_templog

      log_GrLivArea
0         -1.767651
1          0.651410
2          0.840314
3          0.597225
4         -0.341172
5         -0.157230
6          0.495300
7         -0.477335
8          0.310807
9         -0.108514
10         0.805364
11        -1.513844
12        -1.248554
13         0.300167
14        -1.949500
15         0.745311
16        -0.339471
17         0.074887
18         0.135173
19         2.204768
20         1.249398
21        -0.607731
22        -0.742957
23        -1.087759
24        -0.086806
25        -0.036335
26         0.899319
27        -0.254166
28        -0.961973
29         1.299063
...             ...
1429      -2.646185
1430      -0.184334
1431      -2.308774
1432      -0.603968
1433      -1.653056
1434       1.694970
1435       1.582089
1436       0.819619
1437      -0.142993
1438      -0.431158
1439       0.042747
1440       0.986952
1441       1.083650
1442       1.662644
1443       1.649122
1444      -0.245950
1445       1.039772
1446      -0.782907
1447      -0.760859
1448       0.064703
1449      -1.108182
1450      -1.248554
1451      -0.080636
1452      -1.248554
1453      -1.248554
1454      -1.248554
1455      -1.248554
1456       0.870518
1457      -0.776876
1458       0.339846

[1459 rows x 1 columns]

In [12]:
train_norm.reset_index(drop=True, inplace=True)
train_categ.reset_index(drop=True, inplace=True)
train_combo = pd.concat([train_norm,train_categ],axis=1)
train_templog = make_log(train[['GrLivArea']])

#Transforming the GrLivArea in Training Data Set with LOG:
y = train['GrLivArea'] 
mnGrLivArea = np.log(train.GrLivArea).mean()
stdGrLivArea = np.log(train.GrLivArea).std()
train_combo['LogLivArea'] = train_templog

In [13]:
multi = linear_model.LinearRegression()
train_price, train_logs, train_devs, train_means = make_boxed_normal(train[['SalePrice']]-37800)
multi.fit(X=train_combo, y=train_price)

[102.88252769  97.83021699 105.44490873 ... 112.0494597   89.06318741
  90.38673086]

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [14]:
pricepredict = multi.predict(final_combo)

pricepredict

array([[-0.90546469],
       [ 0.03604376],
       [ 0.60867263],
       ...,
       [ 0.40759754],
       [-0.82897134],
       [ 0.44835968]])

In [15]:
#To transform these predictions back to price
#logs, devs, means = 1,2,3 of the object 
train_price
train_logs
train_devs
train_means
#You multiply by the standard deviation, add back the mean.
#And then un-BoxCox it using the hyperparamter

[94.95626602505818]

In [16]:
print (pricepredict)

pricepredict = (pricepredict * train_devs[0])+train_means[0]
lmbda = train_logs
adjprice = scipy.special.inv_boxcox(pricepredict, lmbda[0])

[[-0.90546469]
 [ 0.03604376]
 [ 0.60867263]
 ...
 [ 0.40759754]
 [-0.82897134]
 [ 0.44835968]]

In [17]:
adjprice

array([[ 78245.85009646],
       [132243.28815782],
       [175829.36811108],
       ...,
       [159504.73438753],
       [ 81901.64787459],
       [162722.24867242]])

In [18]:
adjprice.mean()+37800

178425.6475120138

In [19]:
train[['SalePrice']].mean()

SalePrice    180423.080028
dtype: float64

In [20]:
type(adjprice)

numpy.ndarray

In [21]:
adjpricedf = pd.DataFrame(adjprice)

In [22]:
adjpricedf.to_csv('../../data/prediction1.csv')

In [23]:
len(final_combo)

1459

In [24]:
final_combo.index.values

array([   0,    1,    2, ..., 1456, 1457, 1458])

In [43]:
testID = pd.read_csv('../../data/test.csv', index_col=0)

In [26]:
len(testID)

1459

In [27]:
len(final)

1459

In [44]:
testID.head(3)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal

In [52]:
testID = testID.assign(SalePrice=adjprice)
supsimple = testID.filter(['Id','SalePrice'])

In [53]:
supsimple.to_csv('../../data/submission1.csv')

In [54]:
len(supsimple)

1459

In [55]:
supsimple.head(3)

          SalePrice
Id
1461   78245.850096
1462  132243.288158
1463  175829.368111